@import "../../../sass/variables.scss";

.page {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 75%;
        
        .title {
            font-size: 4rem;
            font-weight: 100;
            margin: 1rem 0;
        }

        .input {
            background-color: $input_background;
            color: $input_font;
            font-size: 3rem;
            font-weight: 700;
            padding: 1.5rem 0;
            text-align: center;
            width: 100%;
        }
        
        .text {
            font-size: 2rem;
            margin: 1.5rem 0;
            
            // Make error messaging red
            &.error {
                color: $error;
                opacity: 0;
                transition: opacity 0.5s ease;
                
                // We make opacity 0 so the rest of the content doesn't move
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}