<section class="page">
    <form #form="ngForm" class="form" name="form" (ngSubmit)="submit(message)" novalidate>
        <h1 class="title">Enter your message</h1>
        
        <!-- User message must include a-z A-Z 0-9 or spaces, maxlength of 20 -->
        <input #input type="text" class="input" [(ngModel)]="message" name="message" pattern="[a-zA-Z0-9\s]+" maxlength="20" required />
        <!-- Show current character count -->
        <p class="text">({{ message ? message.length : 0 }}/20)</p>
        <!-- Displays error if message is invalid -->
        <p class="text error" [ngClass]="{'active': form.invalid && form.dirty}">Sorry the message is invalid</p>
        
        <button type="submit" class="button bottom" [disabled]="form.invalid">Translate</button>
    </form>
</section>

<!-- Will timeout after 30 seconds of no user interaction -->
<app-timeout></app-timeout>