// Base styling for the app
*,
*:before,
*:after {
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: $main_background;
    background-image: url("/assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

html,
button,
input,
select,
textarea {
    font-family: 'Courier New';
    font-size: 1rem;
    color: $main_color;
}
