// Generic Button Styling used across the app
.button {
    background: transparent;
    border: 0.3rem solid $button_border;
    border-radius: 3rem;
    color: $button_color;
    font-size: 2.75rem;
    outline: none;
    padding: 0.75rem;
    transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    width: 24rem;
    &.bottom {
        position: absolute;
        left: calc(50% - 12rem);
        bottom: 4rem;
    }
    &:active {
        background-color: $button_background_active;
        color: $button_color_active;
    }
    &:disabled {
        border-color: $button_disabled;
        color: $button_disabled;
    }
}