// App Defined Colours
$black: #000;
$white: #fff;
$grey: #808080;
$red: #f00;

// Elements
$main_color: $white;
$main_background: $black;

$attractor_background: $black;

$button_border: $white;
$button_color: $white;
$button_disabled: $grey;
$button_background_active: $white;
$button_color_active: $black;

$input_font: $black;
$input_background: $white;
$error: $red;