<section class="page">
    <!-- User's message -->
    <h1 class="title">{{ message }}</h1>
    
    <!-- Only display if message entered-->
    <div *ngIf="message" class="message">
        <!-- Splits the message into array of letters -->
        <div class="item" *ngFor="let letter of message.split('')">
            <div class="morse">
                <!-- Pipe transform letter into dots and dashes -->
                <ng-container *ngFor="let code of (letter | morse)">
                    <!-- Use pipe output to display dot or dash images -->
                    <img class="code" [src]="'assets/images/' + code + '.png'" />
                </ng-container>
            </div>
            <!-- Pipe used to transform to telephony version -->
            <p class="text">{{ letter | telephony }}</p>
        </div>
    </div>

    <button type="button" class="button bottom" (click)="startAgain()">Try Again</button>
</section>

<!-- Will timeout after 30 seconds of no user interaction -->
<app-timeout></app-timeout>