@import "../../../sass/variables.scss";

.page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .title {
        font-size: 6rem;
        margin: 1rem 0;
    }

    .message {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;

        .item {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0.5rem 1.5rem 0.5rem;
            
            .morse {
                align-items: center;
                display: flex;
                height: 3rem;
                justify-content: center;
                margin-bottom: 1rem;
                
                .code {
                    margin: 0 0.25rem;
                    width: 1.5rem;
                }
            }
            
            .text {
                margin: 0.5rem 0;
                font-size: 1.8rem;
            }
        }
    }
}
