@import "../../../sass/variables.scss";

.attractor {
    background-color: $attractor_background;
    background-image: url("/assets/images/attractor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}